<div class="form-group">
    <label for="attribute-material">Material</label>
    <input type="text" class="form-control" id="attribute-material" name="attribute_material"></input>
</div>

<div class="form-group">
    <label for="attribute-colour">Colour</label>
    <input type="text" class="form-control" id="attribute-colour" name="attribute_colour"></input>
</div>

<div class="form-group">
    <label for="attribute-shape">Shape</label>
    <select class="form-control" id="attribute-shape" name="attribute_shape" multiple>
        <option value="sphere">sphere</option>
        <option value="cube">cube</option>
        <option value="cylinder">cylinder</option>
        <option value="pyramid">pyramid</option>
        <option value="cone">cone</option>
    </select>
</div>

<div class="form-group">
    <label for="attribute-weight">Weight</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-weight" name="attribute_weight">
        <select class="form-control ms-2" id="unit-weight" name="unit_weight" style="width:80px; flex-shrink:0;">
            <option value="g">g</option>
            <option value="kg">kg</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-width">Width</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-width" name="attribute_width">
        <select class="form-control ms-2" id="unit-width" name="unit_width" style="width:80px; flex-shrink:0;">
            <option value="mm">mm</option>
            <option value="cm">cm</option>
            <option value="m">m</option>
            <option value="km">km</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-height">Height</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-height" name="attribute_height">
        <select class="form-control ms-2" id="unit-height" name="unit_height" style="width:80px; flex-shrink:0;">
            <option value="mm">mm</option>
            <option value="cm">cm</option>
            <option value="m">m</option>
            <option value="km">km</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-length">Length</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-length" name="attribute_length">
        <select class="form-control ms-2" id="unit-length" name="unit_length" style="width:80px; flex-shrink:0;">
            <option value="mm">mm</option>
            <option value="cm">cm</option>
            <option value="m">m</option>
            <option value="km">km</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-volume">Volume</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-volume" name="attribute_volume">
        <select class="form-control ms-2" id="unit-volume" name="unit_volume" style="width:80px; flex-shrink:0;">
            <option value="ml">ml</option>
            <option value="l">l</option>
            <option value="m3">m³</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-description_of_parts">Description of Parts</label>
    <input type="text" class="form-control" id="attribute-description_of_parts" name="attribute_description_of_parts"></input>
</div>

<div class="form-group">
    <label for="attribute-hardness">Hardness</label>
    <input type="text" class="form-control" id="attribute-hardness" name="attribute_hardness"></input>
</div>

<div class="form-group">
    <label for="attribute-pattern">Pattern</label>
    <input type="text" class="form-control" id="attribute-pattern" name="attribute_pattern"></input>
</div>

<div class="form-group">
    <label for="attribute-texture">Texture</label>
    <input type="text" class="form-control" id="attribute-texture" name="attribute_texture"></input>
</div>

<div class="form-group">
    <label for="attribute-condition">Condition</label>
    <input type="text" class="form-control" id="attribute-condition" name="attribute_condition"></input>
</div>

<div class="form-group">
    <label for="attribute-brand">Brand</label>
    <input type="text" class="form-control" id="attribute-brand" name="attribute_brand"></input>
</div>

<div class="form-group">
    <label for="attribute-print">Print</label>
    <input type="text" class="form-control" id="attribute-print" name="attribute_print"></input>
</div>

<div class="form-group">
    <label for="attribute-functionality">Functionality</label>
    <input type="text" class="form-control" id="attribute-functionality" name="attribute_functionality"></input>
</div>

<div class="form-group">
    <label for="attribute-smell">Smell</label>
    <input type="text" class="form-control" id="attribute-smell" name="attribute_smell"></input>
</div>

<div class="form-group">
    <label for="attribute-taste">Taste</label>
    <input type="text" class="form-control" id="attribute-taste" name="attribute_taste"></input>
</div>

<div class="form-group">
    <label for="attribute-location">Location</label>
    <input type="text" class="form-control" id="attribute-location" name="attribute_location"></input>
</div>

<div class="form-group">
    <label for="attribute-time_period">Time Period</label>
    <input type="text" class="form-control" id="attribute-time_period" name="attribute_time_period"></input>
</div>

<div class="form-group">
    <label for="attribute-year">Year</label>
    <input type="number" class="form-control" id="attribute-year" name="attribute_year">
</div>

<div class="form-group">
    <label for="attribute-price">Price</label>
    <div class="d-flex">
        <input type="number" class="form-control flex-grow-1" id="attribute-price" name="attribute_price">
        <select class="form-control ms-2" id="unit-price" name="unit_price" style="width:80px; flex-shrink:0;">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="attribute-part_of">Part Of</label>
    <input type="text" class="form-control" id="attribute-part_of" name="attribute_part_of"></input>
</div>
