<div id="comment-div">
  <h3>Comments</h3>
  <div class="comments-section mb-4">
      {% if comments %}
          {% for comment in comments %}
          {% if comment.is_solved %}
              <div style="background-color: #EAB676" class="comment mb-3 p-3 border rounded">
          {% else %}
              <div hx-swap="outerHTML" class="comment mb-3 p-3 border rounded">
          {% endif %}
                  <div class="d-flex justify-content-between align-items-center">
                      <p class="mb-0">
                          <strong>
                              {% if comment.author %}
                                  <a href="{% url 'profile' comment.author.id %}">
                                      {{ comment.author.username }}
                                  </a>
                              {% else %}
                                  {{ comment.anonymous_name|default:"Anonymous" }}
                              {% endif %}
                          </strong>
                          <small class="text-muted"> on {{ comment.date_posted|date:"F j, Y, g:i a" }}</small>
                      </p>
                      {% if user.is_authenticated and user == post.author %}
                      <div class="form-check">
                          <input
                              hx-post="{% url 'update_is_solved' post.id comment.id %}"
                              hx-target="#comment-div"
                              hx-swap="outerHTML"
                              type="checkbox"
                              class="form-check-input"
                              id="isSolved-{{ comment.id }}"
                              {% if comment.is_solved %}checked{% endif %}>
                          <label class="form-check-label" for="isSolved-{{ comment.id }}">Solved</label>
                      </div>
                      {% else %}
                        {% if comment.is_solved %}
                          Solved by this comment!
                        {% endif %}
                      {% endif %}
                  </div>
                  <p>{{ comment.content }}</p>
              </div>
          {% endfor %}
      {% else %}
          <p>No comments yet. Be the first to comment!</p>
      {% endif %}
  </div>
</div>

